    
<!--
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
<!--       <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol> 

        <!-- Wrapper for slides -->
       <div class="carousel-inner">
          
      <div class="overlayMain" id="overlayMain"> 
<div id="port-text" class="col-md-3 portTextMain"> 
  <center><%= image_tag("Silverton-Logo-Transparent-small2.png") %></center>

<h4>Building Award Winning Homes Since 1993</h4>
<hr class="baseMargin" size="3" />
<div id="awardInfo">
  <center><h4>Named Texas Monthly Star Home</h4></center>
  <ul>
    <li>2014 HBA Parade Home</li> 
    <li>Voted Best of Show 2014</li>
    <li>Awarded People's Choice 2014</li>
  </ul>
</div>
<div id="first" class="col-md-4">
        <a href="#"><%= image_tag "Back_Exterior.jpg" %></a>
        </div>
        <div id="second" class="col-md-4">
           <a href="#"><%= image_tag "paradedv.png" %></a>
        </div>
        <div id="third" class="col-md-4">
          <a href="#"><%= image_tag "Back3.jpg" %></a><br />
        </div>

<center><a href="#southern_living" class="btn btn-primary">More Info</a></center>

</div>
          </div>
    <!--  
           <div class="item active"> 
        <!--        <div class="fill">  -->
                	<div id="frontimage">
						          <p><img src="/assets/Back_Exterior.jpg" class="frontImage" /></p>
					         </div>
              <!--  </div>  -->
   <!--                
           </div> 
      
            <div class="item">
                <div class="fill">
                	<div id="frontimage">
						<p><%= image_tag("Best-Interior-Design.jpg") %></p>
					</div>
                </div>
                
            </div>
            <div class="item">
                <div class="fill" >
                	<div id="frontimage">
						<p><%= image_tag("Best Custom Home - 2012 MAX Award - Slide.jpg") %></p>
					</div>
                </div>
               
            </div>
               <div class="item">
                <div class="fill" >
                  <div id="frontimage">
            <p><%= image_tag("Best-Kitchen.jpg") %></p>
          </div>
                </div>
               
            </div>
            <div class="item">
                <div class="fill" >
                  <div id="frontimage">
            <p><%= image_tag("Best-Custom-Home-2011-MAX-Award-Slide.jpg") %></p>
          </div>
                </div>
               
            </div>
          -->

          
        </div>

        <!-- Controls -->
<!--        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a> -->
  <!--  </div> -->
    <br />
    <!--
<div id="frontimage">
<p><%= image_tag("2013-Southern-Living-Showcase-Home1.jpg") %></p>
</div>

-->
    <div class="container">
        <div class="row">
        	<div id="southern_living">
        	<center><br /><h4 id="footer_text" class="col-md-8 text-center">A custom home is special because it tells a unique story; your story. Such a personal undertaking can be both exciting and overwhelming, but with one of the most experienced custom home builders in Austin, you can enjoy an easy, inspirational and rewarding experience.<br /><br />

At Silverton Custom Homes we understand the emotional and financial investment that goes into building a custom home. That's why we take such care in getting to know who our clients are and how you want to live. We take a collaborative approach to define your needs, wants and wishes; then build a reflection of them within your budget. We follow best practices in planning, design, energy efficiency, and construction to build the home you've always dreamed of and can enjoy for years to come. <br /><br /><div id="phone" class="col-md-12">
    <P><a href="/contact">Contact Us: 512-267-3777</a></p><center> <br /><br /></h4>

<div id="assoc" class="col-md-4">
  <%= image_tag("Silverton-Logo-Transparent-2.png") %>
  <p>
    <%= image_tag("sl-builder-of-the-year_1.png") %>
  </p>

<br />
</div>
</div>
</div>
</div>

<br />
<div id="featured_sec">
	<center><h1>FEATURED PROPERTIES | 2014 PARADE OF HOMES</h1></center>
  
  <center><p>LOCATED AT WILLIE NELSON'S TIERRA VISTA.</p></center>
<div id="featured" class= "col-md-5 text-center">
	<div id="tierra" class="img-responsive">
    <a href="/tierra">
		<center><%= image_tag("tierra vista polaroid.png") %></center>
  </a>
	</div>

	</div>
          <div id="featured_no_tierra">
          <div id="featured" class= "col-md-3 img-responsive text-center">
		<%= link_to image_tag("Worner.JPG"), "/parade_home" %>
		<h3>2014 Parade Home</h3>
	</div>
          <div id="featured" class= "col-md-3 img-responsive text-center">
		<%= link_to image_tag("Star Home Rendering dusk 1st rev.JPG"), "/texas_star" %>
		<h3>Texas Monthly Star Home </h3>
	</div>
</div>
      </div>
 <div class="container">
        <div class="row">
        	<div id="kudos">
				<center><h1 id="others" class="col-md-12">What Others Are Saying About Us<br /><br /></h1></center>
				<br />
				<div class="col-md-5 text-centered">
					<%= image_tag("Back2.jpg") %>
				</div>
				<div class="col-md-7 text-centered">
					<p>Susan and I would like to thank you for building us a wonderful home.  We love it!  The quality and workmanship is excellent. I think we all know it was not the easiest proposition to build a custom home when we were living a long ways away, but it turned out great!  You guys made excellent recommendations from initial plans, through construction and interior design and handled any changes we made look easy.</p>
						<em>– Mitch and Susan Morris</em>
				</div>
			</div>
		</div>



			</div>
<div class="services">
<div class="col-md-3 text-center">
            <div class="service-item"><a href="/register">
              <i class="service-icon fa fa-home"></i>
              <h3>View Plan Portfolio</h3>

                <p>Access our Floor Plans designed by award winning architects 
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="/awards">
              <i class="service-icon fa fa-trophy"></i>
              <h3>Awards and Accolades</h3>

                <p>Including Southern Living Home of the Year for 2013
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="/portfolio_main">
              <i class="service-icon fa fa-camera"></i>
              <h3>Gallery of Our Work</h3>

                <p>Selection of Award Winning homes in the greater Austin Area
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="http://homes.architectware.com/featured-homes/">
              <i class="service-icon fa fa-home"></i>
              <h3>Homes and Lots for Sale</h3>

                <p>View the Homes and Lots we have for sale in the Austin Area 
</p></a>
            </div>
          </div>
      </div>

<script>
  $(document).ready(function(){
    $('#first').click(function(e){
      $(".frontImage").attr("src", "/assets/Back_Exterior.jpg");
      $( "#awardInfo" ).html( "<center><h4>Texas Monthly Star Home</h4></center> <ul><li>2014 HBA Parade Home</li><li>Voted Best of Show</li><li>Voted People's Choice Award</li></ul>");
      $('.frontImage').show();
    });
    $('#second').click(function(e){
      $(".frontImage").attr("src", "/assets/paradedv.png");
      $( "#awardInfo" ).html( "<center><h4>2014 Parade Home</h4></center><ul><li>Voted Best Floor Plan</li><li>Awarded Best Family Room</li><li>Voted best outdoor living</li></ul>");
      $('.frontImage').show();
    });
    $('#third').click(function(e){
      $(".frontImage").attr("src", "/assets/Back3.jpg");
      $( "#awardInfo" ).html( "<center><h4>2012 Award Winning Home</h4></center> <ul><li>HBA Max Award Winner</li><li>Voted Best Product Design</li></ul>");
      $('.frontImage').show();
    });
  });
</script>



        <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

   